{{#mol-news-view-info}}
{{#image}}
<div class="view view-first">
  <img src="{{{image}}}" alt="{{{alt}}}" />
  <div class="mask">
    <h2>{{{h2-title}}}</h2>
    <a href="#" class="info">{{{btn}}}</a>
  </div>
</div>
{{/image}}
{{/mol-news-view-info}}