body {
  padding: 0;
  margin: 0;
  background-color: #fff;
  overflow-x: hidden;
}

.header-section {
  width: 100%;
  height: auto;
  position: relative;
  margin: 20px 0 0 0;
  &__main {
    display: flex;
    position: relative;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    padding-bottom: 40px;
    &__logo {
      img {
        width: 100%;
        height: auto;
      }
    }
    &__info {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      flex-wrap: wrap;
      position: relative;
      width: 100%;
      height: auto;
      &__achievement {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        position: relative;
        align-items: center;
        height: auto;
        &__item {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          width: 130px;
          height: 130px;
          background: #eee;
          border-radius: 100px;
          font-size: 11px;
          margin: 0 10px;
          border: 3px solid #d3d3d3;
          h2 {
            margin: 0;
            color: #E00B0B;
            text-shadow: 1px 1px 1px #E00B0B;
          }
          p {
            margin: 0;
            font-size: 10px;
            color: #000;
            text-align: center;
            white-space: nowrap
          }
        }
      }
      &__content {
        padding-left: 10px;
        &__social {
          padding-bottom: 10px;
          a {
            color: #000;
            text-decoration: none;
            &:hover {
              color: #E00B0B;
            }
          }
          img {
            position: relative;
            width: 35px;
            height: auto;
            margin: 0 5px 0 5px;
            &:last-child {
              margin: 0;
            }
          }
        }
        &__contact {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          p {
            margin: 0;
            padding: 5px 0;
            color: #000;
            font-weight: 600;
          }
          a {
            margin: 0;
            padding: 5px 0;
            color: #000;
            font-weight: 600;
            &:hover {
              color: #E00B0B;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}

.slider-section {
  width: 100%;
  height: auto;
  position: relative;
  &__main {
    width: 100%;
    height: auto;
    position: relative;
    &__block {
      &__item {
        &__img-block {
          img {}
        }
        &__info-block {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          &__title {
            h2 {
              color: #fff;
              font-size: 50px;
              text-shadow: 1px 0px 2px #fff;
            }
            p {
              color: #fff;
              font-size: 30px;
              text-shadow: 1px 0px 2px #fff;
            }
          }
          &__list {
            color: #fff;
            ul {
              list-style: none;
              text-align: left;
              li {
                font-size: 25px;
                list-style-type: circle;
                text-shadow: 0px 0px 1px #FF0000;
              }
            }
          }
        }
      }
    }
  }
}

.tariff {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  &__main {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    &__title {
      background-color: #EFEFEF;
      width: 100%;
      height: auto;
      min-height: 120px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      h2 {
        margin: 0;
        font-size: 24px !important;
        font-weight: 600;
        color: #313030;
        text-shadow: 1px 0px 1px #000;
      }
    }
    &__data-tariff {
      background-color: #33495E;
      text-align: center;
      width: 100%;
      height: auto;
      min-height: 70px;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      display: flex;
      h2 {
        color: #fff;
        font-size: 20px;
        font-weight: 600;
        padding: 10px;
        margin: 0;
      }
    }
    &__tabs {
      width: 100%;
      height: auto;
      display: block;
      position: relative;
    }
  }
}

.section-news {
  width: 100%;
  height: auto;
  position: relative;
  padding: 50px 0 0 0;
  &__main {
    &__title {
      padding: 0 0 20px 0;
      position: relative;
      h2 {
        text-align: center;
        text-transform: uppercase;
        margin: 0;
        font-size: 30px;
        color: #000;
      }
    }
    &__view {
      width: 100%;
      height: auto;
      position: relative;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}

.icon {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 1rem;
  &--orange {
    background-color: #E7811F;
  }
  &--green {
    background-color: #00AE94;
  }
  &--blue {
    background-color: #2B92D0;
  }
}

h5 {
  color: black;
  font-size: 1.7rem;
}

.sidebar-tab {
  overflow: hidden;
  height: 100%;
  position: absolute;
  top: 0;
  left: 100%;
  right: 0;
  background-color: #fff;
  transition: all .4s ease-in-out;
  &.active {
    left: 0;
    right: 15px;
  }
  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 50px;
  }
  .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 30px;
    text-align: center;
    a {
      color: #fff;
      font-weight: 800;
    }
  }
}

#tab-1:before {
  background-color: #8CC63F;
}

#tab-2:before {
  background-color: #FBB03B;
}

#tab-3:before {
  background-color: #FF0000;
}

#tab-4:before {
  background-color: #8CC63F;
}

#tab-5:before {
  background-color: #FBB03B;
}

#tab-6:before {
  background-color: #FF0000;
}

#tab-7:before {
  background-color: #8CC63F;
}

#tab-8:before {
  background-color: #FBB03B;
}

#tab-9:before {
  background-color: #FF0000;
}

.content ul {
  list-style: none;
  padding: 0;
}

.content ul li {
  font-size: 18px;
  font-weight: 600;
  padding: 10px 20px;
  color: #000;
}

.content ul li:nth-child(odd) {
  background-color: rgba(224, 11, 11, .2);
}

.contact {
  width: 100%;
  height: auto;
  position: relative;
  display: block;
  padding: 50px 0 0 0;
  &__main {
    &__title {
      width: 100%;
      height: auto;
      min-height: 70px;
      h2 {
        color: #000;
        font-size: 30px;
      }
    }
    &__item {
      &__image {
        border-radius: 50%;
        width: 100%;
        height: auto;
        max-width: 150px;
        min-height: 150px;
        margin: 0 auto 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        img {
          width: 40px;
          height: auto;
        }
      }
      &__content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
        h2 {
          margin: 0;
          font-size: 20px;
          text-transform: uppercase;
        }
        a {
          margin: 10px 0 0 0;
          padding: 0;
          font-size: 16px;
          color: #666;
          text-decoration: none;
          &:hover {
            color: #E00B0B;
          }
          img {
            height: auto;
            width: 30px;
            margin: 0 0 0 5px;
          }
        }
        p {
          margin: 10px 0 0 0;
          font-size: 16px;
          color: #666;
        }
      }
    }
  }
}

.footer {
  width: 100%;
  height: auto;
  min-height: 150px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 50px 0 0 0;
  &__main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    &__content {
      width: 100%;
      height: auto;
      position: relative;
      &__item {
        justify-content: center;
        align-items: center;
        img {
          cursor: pointer;
        }
        h2 {
          color: #fff !important;
          margin: 0;
          font-size: 25px;
          vertical-align: middle;
          height: auto;
          text-shadow: 0px 0px 4px #fff;
        }
      }
    }
  }
}

.limitation {
  width: 100%;
  height: auto;
  position: relative;
  &__main {
    width: 100%;
    height: auto;
    position: relative;
    &__title {
      width: 100%;
      height: auto;
      position: relative;
      min-height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      h2 {
        text-align: center;
        text-transform: uppercase;
        margin: 0;
        font-size: 30px;
        color: #000;
      }
    }
    &__content {
      flex-wrap: wrap;
      width: 100%;
      height: auto;
      &__image {
        img {
          width: 100%;
          height: auto;
        }
      }
    }
    &__description {
      p {}
    }
  }
}

/* Color Variables */

$color-codepen: #000;
$color-envelope: #C13B2C;
$color-vk: #2b97f1;
$color-dribbble: #ef5a92;
$color-instagram: #527fa6;
$color-linkedin: #006599;
$color-facebook: #3b5a9b;
/* Social Icon Mixin */

@mixin social-icon($color) {
  background: $color;
  background: linear-gradient(tint($color, 5%), shade($color, 5%));
  border-bottom: 1px solid shade($color, 20%);
  color: tint($color, 50%);
  &:hover {
    color: tint($color, 80%);
    text-shadow: 0px 1px 0px shade($color, 20%);
  }
  .tooltip {
    background: $color;
    background: linear-gradient(tint($color, 15%), $color);
    color: tint($color, 80%);
    &:after {
      border-top-color: $color;
    }
  }
}

/* Social Icons */

.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  width: 60px;
  height: 60px;
  margin: 0 0.5rem;
  border: 1px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 2.0rem;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.15s ease;
  &:hover {
    color: #fff !important;
    .tooltip {
      visibility: visible;
      opacity: 1;
      transform: translate(-50%, -150%);
    }
  }
  &:active {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5) inset;
  }
  &--linkedin {
    @include social-icon($color-linkedin);
  }
  &--vk {
    @include social-icon($color-vk);
  }
  &--codepen {
    @include social-icon($color-codepen);
  }
  &--facebook {
    @include social-icon($color-facebook);
  }
  &--instagram {
    @include social-icon($color-instagram);
  }
  &--dribbble {
    @include social-icon($color-dribbble);
  }
  &--envelope {
    @include social-icon($color-envelope);
  }
  i {
    position: relative;
    top: 1px;
  }
}

/* Tooltips */

.tooltip {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  padding: 0.8rem 1rem;
  border-radius: 3px;
  font-size: 0.8rem;
  font-weight: bold;
  opacity: 0;
  pointer-events: none;
  text-transform: uppercase;
  transform: translate(-50%, -100%);
  transition: all 0.3s ease;
  z-index: 1;
  &:after {
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    content: "";
    border: solid;
    border-width: 10px 10px 0 10px;
    border-color: transparent;
    transform: translate(-50%, 100%);
  }
}

/*NAV_MENU*/

.svg-inline--fa {
  font-size: 1.2em;
}

.mybtn {
  background: transparent;
  border: 2px solid #f4f4f9;
  color: #f4f4f9;
  display: inline-block;
  margin-top: 25px;
  padding: 12px 20px;
  border-radius: 50px;
  text-align: center;
  transition: all 0.35s;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0px;
}

.mybtn:hover {
  background: #f4f4f9;
  border: 2px solid #f4f4f9;
  color: #0d1321;
}

.avatar-container {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

#standard-nav {
  background: #EEEEEE;
  padding: 9px;
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  display: flex;
  justify-content: center;
}

#standard-nav a,
#standard-nav .brand {
  padding: 9px;
  color: #000;
  font-weight: 600;
  display: inline-block;
  transition: all 0.35s;
  cursor: pointer;
  text-transform: uppercase;
}

#standard-nav .brand {
  padding: 8px;
  color: #f4f4f9;
  display: inline-block;
  transition: all 0.35s;
  cursor: pointer;
  font-size: 1.5em;
}

#standard-nav a:hover {
  color: #fff;
  text-decoration: none;
  background-color: #E00B0B;
  font-weight: 600;
}

#standard-nav .brand:hover {
  transform: scale(1.1);
  color: #fff;
}

#mobile-nav {
  display: none;
  position: relative;
  width: 100%;
  top: 0;
  z-index: 2;
  background: #0d1321;
}

.open-burger,
.close-burger {
  background: transparent;
  outline: none;
  border: none;
  padding: 20px;
}

.open-burger:hover {
  cursor: pointer;
}

.overlay .close-burger {
  position: absolute;
  top: 20px;
  right: 0;
  cursor: pointer;
}

.open-burger .bar1,
.open-burger .bar2,
.open-burger .bar3,
.close-burger .bar1,
.close-burger .bar2 {
  width: 35px;
  height: 2px;
  background-color: #E00B0B;
  border-radius: 2px;
  margin: 4px 0;
  transition: 0.4s;
}

.close-burger .bar1 {
  -webkit-transform: rotate(-45deg) translate(-3px, 2.5px);
  transform: rotate(-45deg) translate(-3px, 2.5px);
  background: #E00B0B;
}

.close-burger .bar2 {
  -webkit-transform: rotate(45deg) translate(-2px, -1px);
  transform: rotate(45deg) translate(-2px, -1px);
  background: #E00B0B;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #0d1321;
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 100px;
  width: 100%;
  text-align: center;
}

.overlay a {
  padding: 12px;
  text-decoration: none;
  font-size: 30px;
  color: #aaa;
  display: block;
  transition: 0.3s;
  outline: none;
}

.overlay a:hover,
.overlay a:focus {
  color: #fff;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/*MENU END*/

.social-image {
  width: 500px;
  height: auto;
  margin-top: -58px;
  margin-left: 18px;
  position: relative;
}

@media (max-width: 992px) {
  #standard-nav {
    display: none;
  }
  #mobile-nav {
    display: inline-block;
    background: #EEEEEE;
  }
  .slider-section__main__block__item__info-block__title h2 {
    font-size: 40px;
  }
  .slider-section__main__block__item__info-block__title p {
    font-size: 25px;
  }
  .slider-section__main__block__item__info-block__list li {
    font-size: 15px;
  }
  .header-section__main {
    padding-bottom: 5px;
  }
  .connect-btn {
    margin-bottom: 25px;
    width: 100%;
    max-width: 100% !important;
  }
  .view {
    float: none !important;
  }
  .contact__main__item {
    margin: 0 0 50px 0;
  }
  .contact__main__item__content h2 {
    font-size: 16px;
  }
  .contact__main__title h2 {
    font-size: 25px;
    margin: 0;
  }
  .footer__main__content__item img {
    cursor: pointer;
    width: 100%;
    height: auto;
    margin: 20px 0;
  }
  .footer__main__content__item h2 {
    font-size: 16px;
  }
  .footer__main__content__item {
    padding: 0 0 20px 0;
  }
  .repair-single__main__title h2 {
    font-size: 20px !important;
  }
  .repair-single__main__content__info p {
    font-size: 16px !important;
  }
  .repair-single__main__content__info {
    margin-top: 20px;
  }
  .limitation__main__title h2 {
    font-size: 20px;
  }
  .limitation__main__content__description {
    margin-top: 20px !important;
  }
  .limitation__main__content__description p {
    font-size: 16px;
    padding: 10px 0 0 0 !important;
  }
  .internet-services__main__table table td p {
    font-size: 13px !important;
    padding: 3px !important;
  }
  .internet-services__main__content__image img {
    width: 100%;
    height: 200px !important;
  }
  .internet-services__main__content__image {
    margin: 20px 0;
  }
  .internet-services__main__title h2 {
    margin: 0;
    font-size: 20px !important;
  }
  .internet-services__main__table__title h2 {
    font-size: 20px;
    text-align: center;
    margin: 0;
  }
  .internet-services__main__table__title {
    margin: 30px 0;
  }
  .easysoft__main__title h2 {
    font-size: 20px !important;
  }
  .easysoft__main__content__image {
    margin-bottom: 20px;
    padding: 0;
  }
  .easysoft__main__content__info {
    padding: 0;
  }
  .easysoft__main__content__info p {
    font-size: 16px !important;
  }
  .easysoft__main__content__info h2 {
    text-align: center;
  }
  .office-moving__main__title h2 {
    font-size: 20px !important;
  }
  .office-moving__main__content__text p {
    font-size: 16px !important;
    margin: 0;
  }
  .services__main__title h2 {
    font-size: 25px !important;
  }
  .services__main__content h5 {
    font-size: 16px !important;
  }
  .services__main__content a {
    margin-bottom: 50px;
  }
  .client-tabs__main__image {
    text-align: center;
  }
  .header-section__main__logo img {
    max-width: 150px;
  }
  .footer__main__content__item img {
    max-width: 150px;
    text-align: center;
  }
  .footer__main__content__item {
    text-align: center;
  }
  .accordionTitle:hover,
  .accordion__Heading:hover {
    background-color: #099df6;
  }
  .client-tabs-title h2 {
    font-size: 25px !important;
  }
  .thunderstorm__main__content__info p {
    padding: 20px 0 0 0;
  }
  .thunderstorm__main__title h2 {
    font-size: 25px !important;
    margin: 0;
  }
  .accident__main__title h2 {
    font-size: 25px !important;
  }
  .accident__main__content__info {
    padding-top: 20px;
  }
  .view h2 {
    font-size: 16px !important;
  }
  .view a.info {
    padding: 4px 15px !important;
  }
  .overlay a:active {
    background-color: #FF0000;
  }
  .overlay a:hover {
    background-color: #FF0000;
  }
  .overlay a {
    font-size: 20px;
    padding-bottom: 10px;
  }
  .header-section__main__info__content__contact p {
    color: #FF0000;
  }
  .header-section__main__info__content {
    border-top: 2px solid #FF0000;
  }
  .office-moving__main__content__text p {
    padding: 10px 0 0 0 !important;
  }
  .contact-us__main__content h2 {
    font-size: 25px;
  }
  .contact-us__main__plan h2 {
    font-size: 25px;
  }
  .callendar__article{
    padding: 20px !important;
  }
}

@media screen and (min-width: 320px) and (max-width:500px) {
  .callendar {
    width: 290px !important;
    padding: 70px 15px 16px !important;
  }
}

@media screen and (min-width: 320px) and (max-width:500px) {
  .callendar__article .cells .date-cell .date {
    font-family: Arial;
    font-weight: 600;
    font-size: 13px !important;
    float: left;
    position: relative;
  }
  .callendar__article .cells .date-cell {
    width: 47px !important;
    height: 47px !important;
    border: 1px solid #2e2e2e !important;
    margin-left: 0px !important;
    margin-top: -2px !important;
    padding: 1px;
  }
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .close-burger {
    top: 15px;
    right: 35px;
  }
}

/*TABS*/

button,
.button {
  position: relative;
  display: inline-block;
  color: #313030;
  padding: 0.75rem 2rem;
  margin: 0 auto;
  background-color: #E7EAEB;
  border: none;
  width: 100%;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

button:hover,
.button:hover {
  background-color: #E7EAEB;
}

button:hover:before,
button:hover:after,
.button:hover:before,
.button:hover:after {
  color: #32495E;
}

button:after,
button:before,
.button:after,
.button:before {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

/* ---------------------- Vertical Tabs */

.tabs {
  position: relative;
  min-height: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
  height: auto;
  display: flex;
  flex-direction: column;
  /* ---------------------- Tab */
  /* ---------------------- Content */
}

.tabs .tab {
  margin-bottom: 1px;
  /* ---------------------- Tab Toggle */
}

@media screen and (min-width: 55rem) {
  .tabs .tab {
    float: left;
    clear: left;
    width: 30%;
  }
}

.tabs .tab .tab-toggle {
  padding: 2rem 4rem 1rem 2rem;
  position: relative;
  outline: none;
  width: 100%;
}

@media screen and (min-width: 55rem) {
  .tabs .tab .tab-toggle {
    text-align: left;
    cursor: pointer;
  }
}

.tabs .tab .tab-toggle:after {
  content: "\25BC";
  position: absolute;
  display: block;
  right: 2rem;
  top: 50%;
  -webkit-transform: rotate(0deg) translateY(-50%);
  -moz-transform: rotate(0deg) translateY(-50%);
  -ms-transform: rotate(0deg) translateY(-50%);
  -o-transform: rotate(0deg) translateY(-50%);
  transform: rotate(0deg) translateY(-50%);
}

@media screen and (min-width: 55rem) {
  .tabs .tab .tab-toggle:after {
    -webkit-transform: rotate(-90deg) translateX(50%);
    -moz-transform: rotate(-90deg) translateX(50%);
    -ms-transform: rotate(-90deg) translateX(50%);
    -o-transform: rotate(-90deg) translateX(50%);
    transform: rotate(-90deg) translateX(50%);
  }
}

.tabs .tab .tab-toggle.active {
  color: #32495E;
  background-color: white;
  cursor: default;
}

.tabs .tab .tab-toggle.active:after {
  color: #32495E;
  -webkit-transform: rotate(180deg) translateY(50%);
  -moz-transform: rotate(180deg) translateY(50%);
  -ms-transform: rotate(180deg) translateY(50%);
  -o-transform: rotate(180deg) translateY(50%);
  transform: rotate(180deg) translateY(50%);
}

@media screen and (min-width: 55rem) {
  .tabs .tab .tab-toggle.active:after {
    -webkit-transform: rotate(-90deg) translateX(50%) translateY(0);
    -moz-transform: rotate(-90deg) translateX(50%) translateY(0);
    -ms-transform: rotate(-90deg) translateX(50%) translateY(0);
    -o-transform: rotate(-90deg) translateX(50%) translateY(0);
    transform: rotate(-90deg) translateX(50%) translateY(0);
    right: 1rem;
  }
}

.tabs .content {
  max-height: 0;
  overflow: hidden;
  padding: 0 2rem;
  background-color: #E7EAEB;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s;
}

@media screen and (min-width: 55rem) {
  .tabs .content {
    max-height: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 70%;
    opacity: 0;
    padding: 2rem 2rem 2rem 2rem;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
}

.tabs .content.active {
  max-height: 1000px;
}

@media screen and (min-width: 55rem) {
  .tabs .content.active {
    max-height: none;
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    height: 100%; // min-height: 380px;
  }
}

.tabs .content>.heading {
  font-size: 16px;
  margin: 1rem 0;
  color: #000;
}

/*BTN*/

.connect-btn {
  border-radius: 5px;
  padding: 15px 25px;
  font-size: 22px;
  text-decoration: none;
  color: #fff;
  position: relative;
  display: inline-block;
  background-color: #E00B0B;
  box-shadow: 0px 5px 0px 0px #E00B0B;
  width: 100%;
  max-width: 400px;
  text-align: center;
  transition: all .2s ease-in-out;
}

.connect-btn:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
  text-decoration: none;
}

.connect-btn:hover {
  background-color: rgba(224, 11, 11, .6);
  text-decoration: none;
  color: #fff;
  transition: all .2s ease-in-out;
}

/*NEWS MASK*/

.view {
  margin: 0 0 10px 0;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  width: 300px;
  background: #fff;
  height: 200px;
  padding: 5px;
}

.view .mask,
.view .content {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.view img {
  display: block;
  position: relative
}

.view h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 20px;
  padding: 20px;
  margin: 0;
}

.view p {
  font-style: italic;
  font-size: 14px;
  position: relative;
  color: #fff;
  padding: 0px 20px 0px;
  text-align: center
}

.view a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  background: transparent;
  color: #fff;
  border-radius: 10px;
  text-transform: uppercase;
  box-shadow: 0 0 1px #fff;
  border: 3px solid #fff;
}

.view a.info:hover {
  box-shadow: 0 0 5px #fff;
}

/*1*/

.view-first img {
  /*1*/
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.view-first .mask {
  opacity: 0;
  background-color: rgba(58, 1, 132, 0.44);
  transition: all 0.4s ease-in-out;
}

.view-first h2 {
  transform: translateY(-100px);
  opacity: 0;
  font-family: Raleway, serif;
  transition: all 0.2s ease-in-out;
}

.view-first p {
  transform: translateY(100px);
  opacity: 0;
  transition: all 0.2s linear;
}

.view-first a.info {
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

/* */

.view-first:hover img {
  transform: scale(1.1);
}

.view-first:hover .mask {
  opacity: 1;
}

.view-first:hover h2,
.view-first:hover p,
.view-first:hover a.info {
  opacity: 1;
  transform: translateY(0px);
}

.view-first:hover p {
  transition-delay: 0.1s;
}

.view-first:hover a.info {
  transition-delay: 0.2s;
  font-size: 20px;
}

.repair-single {
  width: 100%;
  height: auto;
  position: relative;
  &__main {
    width: 100%;
    height: auto;
    position: relative;
    &__title {
      width: 100%;
      height: auto;
      min-height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      h2 {
        text-align: center;
        text-transform: uppercase;
        margin: 0;
        font-size: 30px;
        color: #000;
      }
    }
    &__content {
      &__image {
        img {
          width: 100%;
          height: auto;
        }
      }
      &__info {
        p {
          font-size: 16px;
          color: #000;
        }
      }
    }
  }
}

.internet-services {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  &__main {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    &__title {
      width: 100%;
      position: relative;
      height: auto;
      min-height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      h2 {
        font-size: 30px;
        text-align: center;
        text-transform: uppercase;
      }
    }
    &__content {
      width: 100%;
      height: auto;
      position: relative;
      &__image {
        width: 100%;
        height: auto;
        img {
          width: 100%;
          height: 400px;
        }
      }
      &__description {
        margin-top: 20px;
        p {
          margin: 0;
        }
      }
    }
    &__table {
      &__title {
        h2 {
          color: rgb(102, 102, 102);
          margin: 40px 0;
          text-align: center;
          font-size: 30px;
          text-transform: uppercase;
        }
      }
      table {
        text-align: center;
        border: 1px solid #000;
        width: 100%;
        height: auto;
        tr {
          border: 1px solid #000;
          &:nth-child(odd) {
            background-color: #DB7A1D;
          }
        }
        td {
          border: 1px solid #000;
          p {
            font-weight: 600;
            font-size: 20px;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;
            margin: 0;
            padding: 5px;
          }
        }
      }
    }
  }
}

.easysoft {
  width: 100%;
  height: auto;
  position: relative;
  margin: 0;
  padding: 0;
  &__main {
    width: 100%;
    height: auto;
    position: relative;
    margin: 0;
    padding: 0;
    &__title {
      width: 100%;
      position: relative;
      height: auto;
      min-height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      h2 {
        margin: 0;
        font-size: 30px;
        text-align: center;
        text-transform: uppercase;
      }
    }
    &__content {
      flex-wrap: wrap;
      &__image {
        width: 100%;
        height: auto;
        position: relative;
        img {
          width: 100%;
          height: auto;
        }
      }
      &__info {
        width: 100%;
        height: auto;
        position: relative;
        p {
          color: #000;
          font-size: 16px;
        }
        ul {
          li {
            color: #225690;
            span {
              color: #000;
            }
          }
        }
        h2 {
          color: #225690;
          font-size: 16px;
          text-transform: uppercase;
        }
      }
    }
  }
}

.office-moving {
  width: 100%;
  height: auto;
  position: relative;
  &__main {
    width: 100%;
    height: auto;
    position: relative;
    &__title {
      width: 100%;
      position: relative;
      height: auto;
      min-height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      h2 {
        margin: 0;
        font-size: 30px;
        text-align: center;
        text-transform: uppercase;
      }
    }
    &__content {
      flex-wrap: wrap;
      &__image {
        width: 100%;
        height: auto;
        position: relative;
        img {
          width: 100%;
          height: auto;
        }
      }
      &__text {
        width: 100%;
        height: auto;
        position: relative;
        p {
          color: #000;
          font-size: 16px;
        }
      }
    }
  }
}

.tv {
  width: 100%;
  height: auto;
  position: relative;
  margin: 0;
  padding: 0;
  &__main {
    width: 100%;
    height: auto;
    position: relative;
    &__title {
      width: 100%;
      position: relative;
      height: auto;
      min-height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      h2 {
        margin: 0;
        font-size: 30px;
        text-align: center;
        text-transform: uppercase;
      }
    }
    &__content {
      p {
        color: #000;
        font-size: 16px;
        margin: 0;
        padding: 10px 0;
      }
      a {
        color: rgba(224, 11, 11, .6);
        font-size: 16px;
        transition: all .2s ease-in-out;
        font-weight: 600;
        &:hover {
          transition: all .2s ease-in-out;
          color: #E00B0B;
          font-size: 17px;
          text-decoration: none;
          font-weight: 600;
        }
      }
    }
  }
}

//////////@at-root
.heading-primary {
  font-size: 2em;
  padding: 2em;
  text-align: center;
}

.accordion dl,
.accordion-list {
  border: 1px solid #ddd;
}

.accordion dl:after,
.accordion-list:after {
  content: "";
  display: block;
  height: 1em;
  width: 100%;
  background-color: #099DF6;
}

.accordion dd,
.accordion__panel {
  background-color: #eee;
  font-size: 1em;
  line-height: 1.5em;
}

.accordion p {
  padding: 1em 2em 1em 2em;
}

.accordion {
  position: relative;
  background-color: #eee;
}

.accordionTitle,
.accordion__Heading {
  background-color: #099DF6;
  /*text-align: center; */
  text-indent: 3px;
  font-weight: 700;
  padding: 2em;
  display: block;
  text-decoration: none;
  color: #fff;
  -webkit-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
  border-bottom: 1px solid #30bb64;
}

.accordionTitle:before,
.accordion__Heading:before {
  content: "+";
  font-size: 1.5em;
  line-height: 0.9em;
  float: left;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
}

.accordionTitle:hover,
.accordion__Heading:hover {
  background-color: #38cc70;
  text-decoration: none;
}

.accordionTitleActive,
.accordionTitle.is-expanded {
  background-color: #38CC70;
}

.accordionTitleActive:before,
.accordionTitle.is-expanded:before {
  -webkit-transform: rotate(-225deg);
  -ms-transform: rotate(-225deg);
  transform: rotate(-225deg);
}

.accordionItem {
  height: auto;
  overflow: auto;
  max-height: 900px;
  -webkit-transition: max-height 1s;
  transition: max-height 1s;
}

@media screen and (min-width: 48em) {
  .accordionItem {
    max-height: 900px;
    -webkit-transition: max-height 0.5s;
    transition: max-height 0.5s;
  }
}

.accordionItem.is-collapsed {
  max-height: 0;
}

.no-js .accordionItem.is-collapsed {
  max-height: 900px;
}

.animateIn {
  -webkit-animation: accordionIn 0.65s normal ease-in-out both 1;
  animation: accordionIn 0.65s normal ease-in-out both 1;
}

.animateOut {
  -webkit-animation: accordionOut 0.75s alternate ease-in-out both 1;
  animation: accordionOut 0.75s alternate ease-in-out both 1;
}

@-webkit-keyframes accordionIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.9) rotateX(-60deg);
    transform: scale(0.9) rotateX(-60deg);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes accordionIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.9) rotateX(-60deg);
    transform: scale(0.9) rotateX(-60deg);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes accordionOut {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.9) rotateX(-60deg);
    transform: scale(0.9) rotateX(-60deg);
  }
}

@keyframes accordionOut {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.9) rotateX(-60deg);
    transform: scale(0.9) rotateX(-60deg);
  }
}

/*label styles */

.label-style {
  float: left;
  margin-right: 15px;
  padding-top: 5px;
  padding-left: 100px;
}

/* form headings */

.headings {
  text-align: center;
  font-weight: bold;
}

/* button styles */

.button-container {
  text-align: center;
  margin-bottom: 5px;
}

/* position of the hint */

.hint {
  display: inline-block;
  position: relative;
  margin-left: 0.5em;
  margin-top: 0.3em;
}

/* background style for 'i' */

.hint-icon {
  background: #099DF6;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block;
  font-style: normal;
  font-family: 'Libre Baskerville';
  height: 20px;
  line-height: 1.3em;
  text-align: center;
  width: 20px;
}

/* hint icon hover style */

.hint-icon:hover {
  background: #1f8ac9;
}

/* Displays the hint. important! Do not remove. */

.hint:hover .hint-description,
.hint:focus .hint-description {
  display: inline-block;
}

/* position of the hint  */

.hint-description {
  display: none;
  background: #3b3b3b;
  border: 1px solid #099DF6;
  border-radius: 3px;
  font-size: 0.8em;
  color: #ffffff;
  font-weight: bold;
  /*padding: 1em; */
  position: absolute;
  left: 30px;
  top: -15px;
  width: 180px;
  height: auto;
}

/* styling for the arrow */

.hint-description:before,
.hint-description:after {
  content: "";
  position: absolute;
  left: -11px;
  top: 15px;
  border-style: solid;
  border-width: 10px 10px 10px 0;
  border-color: transparent #099DF6;
}

/* overlay styling */

.hint-description:after {
  left: -10px;
  border-right-color: #3b3b3b;
}

.accordion td {
  border: 1px solid #555555;
  padding: 25px;
  font-size: 16px;
  font-weight: 600;
}

.accordion th {
  border: 1px solid #555;
  font-size: 20px;
  padding: 20px;
  font-weight: 600;
}

.pl-70 {
  padding-left: 70px;
}

.services {
  width: 100%;
  height: auto;
  position: relative;
  &__main {
    width: 100%;
    height: auto;
    position: relative;
    &__title {
      width: 100%;
      height: auto;
      min-height: 100px;
      position: relative;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      h2 {
        text-align: center;
        text-transform: uppercase;
        margin: 0;
        font-size: 30px;
        color: #000;
      }
    }
    &__content {
      h5 {
        margin: 0;
        font-size: 20px;
        padding: 20px 0 0 0;
        text-decoration: none;
      }
      a {
        padding: 0;
        text-decoration: none;
      }
      &__icon {
        text-align: center;
        margin: 0 auto;
        position: relative;
        display: flex;
        min-height: 250px;
        width: 100%;
        justify-content: center;
        align-items: center;
        img {
          width: auto;
          height: 100%;
          max-width: 400px;
        }
      }
    }
  }
}

.services-internal-info-main ul {
  list-style: none;
}

.services-internal-info-main {
  margin-top: 40px;
}

.services-internal-info-main h1 {
  margin: 0 0 25px 0;
  font-size: 25px;
  text-transform: uppercase;
}

.services-internal-info-main li {
  padding: 10px 0 0 0;
  font-size: 16px;
}

.client-tabs__main__info {
  padding: 0;
}

.client-tabs-title {
  width: 100%;
  height: auto;
  position: relative;
}

.client-tabs-title h2 {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100px;
  text-transform: uppercase;
  margin: 0;
  font-size: 30px;
  color: #000;
}

.thunderstorm {
  width: 100%;
  height: auto;
  position: relative;
  padding: 0;
  margin: 0;
  &__main {
    &__title {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      h2 {
        color: #000;
        font-size: 30px;
        margin: 0;
        width: 100%;
        height: auto;
        min-height: 100px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
      }
    }
    &__content {
      &__image {
        width: 100%;
        height: auto;
        position: relative;
        img {
          width: 100%;
          height: auto;
        }
      }
      &__info {
        p {
          color: #000;
          font-size: 16px;
        }
      }
    }
  }
}

.accident {
  width: 100%;
  height: auto;
  position: relative;
  padding: 0;
  margin: 0;
  &__main {
    width: 100%;
    height: auto;
    position: relative;
    &__title {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      h2 {
        color: #000;
        font-size: 30px;
        margin: 0;
        width: 100%;
        height: auto;
        min-height: 100px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
      }
    }
    &__content {
      width: 100%;
      height: auto;
      position: relative;
      &__image {
        width: 100%;
        height: auto;
        position: relative;
        img {
          width: 100%;
          height: auto;
        }
      }
      &__info {
        p {
          color: #000;
          font-size: 16px;
        }
      }
    }
  }
}

.changes-tariff {
  width: 100%;
  height: auto;
  position: relative;
  padding: 0;
  margin: 0;
  &__main {
    width: 100%;
    height: auto;
    position: relative;
    &__title {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      h2 {
        color: #000;
        font-size: 30px;
        margin: 0;
        width: 100%;
        height: auto;
        min-height: 100px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
      }
    }
    &__content {
      width: 100%;
      height: auto;
      position: relative;
      &__image {
        width: 100%;
        height: auto;
        position: relative;
        img {
          width: 100%;
          height: auto;
        }
      }
      &__info {
        p {
          color: #000;
          font-size: 16px;
        }
      }
    }
  }
}

////calendar
.callendar {
  width: 500px;
  background-color: greenyellow;
  padding: 80px 30px 30px;
  margin: 50px auto;
  border-radius: 10px;
  position: relative;
  &:before {
    content: '';
    display: block;
    width: 150px;
    height: 30px;
    background-color: currentColor;
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translate(-50%, 0);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }
  .decorators {
    display: flex;
    justify-content: space-around;
    span {
      display: block;
      position: relative;
      &:after {
        content: '';
        display: block;
        width: 6px;
        height: 25px;
        border-radius: 4px;
        background-color: #fff;
        position: relative;
        transform-origin: 50% 100%;
        transform: rotate(15deg);
        z-index: 200;
      }
      &:before {
        content: '';
        display: block;
        width: 15px;
        height: 15px;
        background-color: #2e2e2e;
        border-radius: 50%;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
        z-index: 100;
      }
    }
  }
  &__article {
    background-color: #f2f2f2;
    position: relative;
    top: -12px;
    padding: 30px;
    box-shadow: 0 5px 15px rgba(#000, .5);
    .month-year {
      font-family: Arial;
      font-size: 40px;
      font-weight: 900;
      text-align: center;
      border-bottom: 2px solid #2e2e2e;
      padding-bottom: 10px;
      margin-bottom: 10px;
    }
    .cells {
      display: flex;
      justify-content: center;
      flex-flow: row wrap;
      margin: 0 auto;
      max-width: 345px;
      width: 100%;
      .date-cell {
        width: 47px;
        height: 47px;
        border: 2px solid #2e2e2e;
        margin-left: -2px;
        margin-top: -2px;
        padding: 1px;
        .date {
          font-family: Arial;
          font-weight: 600;
          font-size: 18px;
          float: left;
        }
        .day {
          font-family: Arial;
          font-weight: 600;
          font-size: 10px;
          float: right;
        }
        &:nth-child(1) {
          margin-left: 0;
          margin-top: 0;
        }
        &:nth-child(2) {
          margin-top: 0;
        }
        &:nth-child(3) {
          margin-top: 0;
        }
        &:nth-child(4) {
          margin-top: 0;
        }
        &:nth-child(5) {
          margin-top: 0;
        }
        &:nth-child(6) {
          margin-top: 0;
        }
        &:nth-child(7) {
          margin-top: 0;
        }
        &:nth-child(8) {
          margin-left: 0;
        }
        &:nth-child(15) {
          margin-left: 0;
        }
        &:nth-child(22) {
          margin-left: 0;
        }
        &:nth-child(29) {
          margin-left: 0;
        }
        &:nth-child(36) {
          margin-left: 0;
        }
        &:nth-child(7n) {
          color: orangered;
        }
      }
    }
  }
}

.holiday {
  width: 100%;
  height: auto;
  position: relative;
  padding: 0;
  margin: 0;
  &__main {
    width: 100%;
    height: auto;
    position: relative;
    &__title {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      h2 {
        color: #000;
        font-size: 30px;
        margin: 0;
        width: 100%;
        height: auto;
        min-height: 100px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
      }
    }
    &__container {
      width: 100%;
      height: auto;
      position: relative;
      &__image {
        width: 100%;
        height: auto;
        position: relative;
        img {
          width: 100%;
          height: auto;
        }
      }
      &__info {
        p {
          color: #000;
          font-size: 16px;
        }
      }
    }
  }
}

.main-tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.main-tabs img {
  width: 200px;
  height: auto;
}

.main-tabs li {
  padding: 10px;
}

.button-main-block {
  width: 100%;
  height: auto;
  min-height: 70px;
  background-color: #fff;
  border-top: 3px solid #AF0000;
  border-bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.button-main-block li {
  background-color: #FF0000;
  width: 250px;
  height: auto;
  min-height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  border-bottom: 1px solid #fff;
}

.button-main-block li a {
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  z-index: 2;
}

.button-main-block li a:hover {
  text-decoration: none;
}

.contact-us {
  width: 100%;
  height: auto;
  position: relative;
  &__main {
    width: 100%;
    height: auto;
    position: relative;
    &__title {
      text-align: center;
      h2 {
        color: #000;
        font-size: 30px;
        height: auto;
        min-height: 100px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
      }
    }
    &__content {
      h2 {
        margin-bottom: 20px;
      }
      p {}
      a {
        color: #000 !important;
        padding: 10px;
        font-weight: 600;
        &:hover {
          color: #FF0000 !important;
        }
      }
    }
    &__plan {
      h2 {
        margin-bottom: 20px;
      }
      p {
        font-weight: 600;
      }
    }
  }
}

.order-form {
  width: 100%;
  input {
    display: block;
    width: 100%;
    height: 35px;
    margin: 5px 0;
    color: #333;
    outline: none;
    border: none;
    border-bottom: 1px solid #ccc;
  }
  select {
    width: 100%;
    max-width: 100%;
    height: 35px;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    display: block;
    text-transform: uppercase;
    cursor: pointer;
    margin: 5px 0;
    color: #333;
  }
  .order-submit {
    text-transform: uppercase;
    font-size: 16px;
    width: 100%;
    cursor: pointer;
    margin-top: 20px;
    height: 40px;
    outline: none;
  }
}

.home-service-icon {
  position: relative;
  min-height: auto;
  width: 200px;
  height: 200px;
  img {
    position: relative;
    width: auto;
    height: auto;
    object-fit: contain;
    max-width: none;
  }
}

.menu-list ul {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  list-style: none;
}