{{#org-changes-tariff-section}}
<section class="changes-tariff">
  <div class="container">
    <div class="changes-tariff__main">
      <div class="changes-tariff__main__title">
        {{> ../molecules/changes-tariff-title}}
      </div>
      <div class="changes-tariff__main__content d-flex flex-wrap">
        <div class="changes-tariff__main__content__image col-12 col-lg-4">
          {{> ../molecules/changes-tariff-image}}
        </div>
        <div class="changes-tariff__main__content__info col-12 col-lg-8">
          {{> ../molecules/changes-tariff-description}}
        </div>
      </div>
    </div>
  </div>
</section>
{{/org-changes-tariff-section}}