{{#org-choose-your-tariff-tabs}}
<section class="choose-tariff-tabs">
  <div class="container">
    <ul class="nav nav-tabs main-tabs">
      <li class="active">
        <a data-toggle="tab" href="#home">
          <img src="assets/img/place_1_nohover.png" alt="nohover" />

        </a></li>
      <li><a data-toggle="tab" href="#menu1">
          <img src="assets/img/place_2_nohover.png" alt="nohover" />

        </a></li>
    </ul>

    <div class="tab-content">
      <div id="home" class="tab-pane in active">
        <ul class="nav nav-tabs button-main-block">
          <li class="active"><a data-toggle="tab" href="#tab1">ДЛЯ ПРИВАТНОГО СЕКТОРУ</a></li>
          <li><a data-toggle="tab" href="#tab2">ДЛЯ БАГАТОПОВЕРХІВОК</a></li>

        </ul>

        <div class="tab-content">
          <div id="tab1" class="tab-pane in active">
            <section class="services position-relative">
              <div class="container position-relative">
                <div class="services__main">
                  <div class="services__main__title text-center">
                    <h2>ЗАМОВИТИ ПІДКЛЮЧЕННЯ</h2>
                  </div>
                  <div class="row justify-content-center services__main__content">
                    <div class="col-12 col-lg-4">
                      <a href="#tab-1" class="d-flex align-items-center flex-column" data-js="tab-target">
                        <div class="icon  services__main__content__icon">
                          <img src="assets/img/eco-house.png" alt="eco-house">
                        </div>

                      </a>
                    </div>
                    <div class="col-12 col-lg-4">
                      <a href="#tab-2" class="d-flex align-items-center flex-column" data-js="tab-target">
                        <div class="icon  services__main__content__icon">
                          <img src="assets/img/fast-house.png" alt="">
                        </div>

                      </a>
                    </div>
                    <div class="col-12 col-lg-4">
                      <a href="#tab-3" class="d-flex align-items-center flex-column " data-js="tab-target">
                        <div class="icon  services__main__content__icon">
                          <img src="assets/img/ultra-house.png" alt="">
                        </div>

                      </a>
                    </div>
                  </div>
                  <!-- </div> -->
                  <div class="sidebar-tab" id="tab-1">
                    <div class="icons text-center">
                      <a href="#" data-js="close-tab">
                        <img src="assets/img/close.png" alt="close">
                      </a>
                    </div>
                    <div class="container pl-70 services-internal-info">
                      <div class="row">
                        <div class="col-12 services-internal-info-main">
                          <h1 class="text-center">ЯКІСНЕ ПОКРИТТЯ</h1>
                          <form class="order-form" action="/">
                            <input type="text" placeholder="ІМ'Я" />
                            <input type="email" placeholder="ВАШ EMAIL" />
                            <input type="text" placeholder="ТЕЛЕФОН" />
                            <input type="text" placeholder="АДРЕСА" />
                            <select>
                              <option value="tar1">Тарифний план 1</option>
                              <option value="tar2">Тарифний план 2</option>
                              <option value="tar3">Тарифний план 3</option>
                              <option value="tar4">Тарифний план 4</option>
                            </select>
                            <input class="order-submit" type="submit" value="Надіслати" />
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="sidebar-tab" id="tab-2">
                    <div class="icons">
                      <a href="#" data-js="close-tab">
                        <img src="assets/img/close.png" alt="close">
                      </a>
                    </div>
                    <div class="container pl-70  services-internal-info">
                      <div class="row">
                        <div class="col-12  services-internal-info-main">
                          <h1 class="text-center">ПОВНИЙ КОМПЛЕКС ПОСЛУГ</h1>
                          <form class="order-form" action="/">
                            <input type="text" placeholder="ІМ'Я" />
                            <input type="email" placeholder="ВАШ EMAIL" />
                            <input type="text" placeholder="ТЕЛЕФОН" />
                            <input type="text" placeholder="АДРЕСА" />
                            <select>
                              <option value="tar1">Тарифний план 1</option>
                              <option value="tar2">Тарифний план 2</option>
                              <option value="tar3">Тарифний план 3</option>
                              <option value="tar4">Тарифний план 4</option>
                            </select>
                            <input class="order-submit" type="submit" value="Надіслати" />
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="sidebar-tab" id="tab-3">
                    <div class="icons">
                      <a href="#" data-js="close-tab">
                        <img src="assets/img/close.png" alt="close">
                      </a>
                    </div>
                    <div class="container pl-70  services-internal-info">
                      <div class="row">
                        <div class="col-12  services-internal-info-main">
                          <h1 class="text-center">ВІДМІННИЙ СЕРВІС</h1>
                          <form class="order-form" action="/">
                            <input type="text" placeholder="ІМ'Я" />
                            <input type="email" placeholder="ВАШ EMAIL" />
                            <input type="text" placeholder="ТЕЛЕФОН" />
                            <input type="text" placeholder="АДРЕСА" />
                            <select>
                              <option value="tar1">Тарифний план 1</option>
                              <option value="tar2">Тарифний план 2</option>
                              <option value="tar3">Тарифний план 3</option>
                              <option value="tar4">Тарифний план 4</option>
                            </select>
                            <input class="order-submit" type="submit" value="Надіслати" />
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>


          </div>
          <div id="tab2" class="tab-pane fade">
            <section class="services position-relative">
              <div class="container position-relative">
                <div class="services__main">
                  <div class="services__main__title text-center">
                    <h2>ЗАМОВИТИ ПІДКЛЮЧЕННЯ</h2>
                  </div>
                  <div class="row justify-content-center services__main__content">
                    <div class="col-12 col-lg-4">
                      <a href="#tab-4" class="d-flex align-items-center flex-column" data-js="tab-target">
                        <div class="icon services__main__content__icon">
                          <img src="assets/img/eco-living.png" alt="">
                        </div>

                      </a>
                    </div>
                    <div class="col-12 col-lg-4">
                      <a href="#tab-5" class="d-flex align-items-center flex-column" data-js="tab-target">
                        <div class="icon services__main__content__icon">
                          <img src="assets/img/fast-living.png" alt="">
                        </div>

                      </a>
                    </div>
                    <div class="col-12 col-lg-4">
                      <a href="#tab-6" class="d-flex align-items-center flex-column " data-js="tab-target">
                        <div class="icon services__main__content__icon">
                          <img src="assets/img/ultra-living.png" alt="">
                        </div>

                      </a>
                    </div>
                  </div>

                  <div class="sidebar-tab" id="tab-4">
                    <div class="icons text-center">
                      <a href="#" data-js="close-tab">
                        <img src="assets/img/close.png" alt="close">
                      </a>
                    </div>
                    <div class="container pl-70 services-internal-info">
                      <div class="row">
                        <div class="col-12 services-internal-info-main">
                          <h1 class="text-center">ЯКІСНЕ ПОКРИТТЯ</h1>
                          <form class="order-form" action="/">
                            <input type="text" placeholder="ІМ'Я" />
                            <input type="email" placeholder="ВАШ EMAIL" />
                            <input type="text" placeholder="ТЕЛЕФОН" />
                            <input type="text" placeholder="АДРЕСА" />
                            <select>
                              <option value="tar1">Тарифний план 1</option>
                              <option value="tar2">Тарифний план 2</option>
                              <option value="tar3">Тарифний план 3</option>
                              <option value="tar4">Тарифний план 4</option>
                            </select>
                            <input class="order-submit" type="submit" value="Надіслати" />
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="sidebar-tab" id="tab-5">
                    <div class="icons">
                      <a href="#" data-js="close-tab">
                        <img src="assets/img/close.png" alt="close">
                      </a>
                    </div>
                    <div class="container pl-70  services-internal-info">
                      <div class="row">
                        <div class="col-12  services-internal-info-main">
                          <h1 class="text-center">ПОВНИЙ КОМПЛЕКС ПОСЛУГ</h1>
                          <form class="order-form" action="/">
                            <input type="text" placeholder="ІМ'Я" />
                            <input type="email" placeholder="ВАШ EMAIL" />
                            <input type="text" placeholder="ТЕЛЕФОН" />
                            <input type="text" placeholder="АДРЕСА" />
                            <select>
                              <option value="tar1">Тарифний план 1</option>
                              <option value="tar2">Тарифний план 2</option>
                              <option value="tar3">Тарифний план 3</option>
                              <option value="tar4">Тарифний план 4</option>
                            </select>
                            <input class="order-submit" type="submit" value="Надіслати" />
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="sidebar-tab" id="tab-6">
                    <div class="icons">
                      <a href="#" data-js="close-tab">
                        <img src="assets/img/close.png" alt="close">
                      </a>
                    </div>
                    <div class="container pl-70  services-internal-info">
                      <div class="row">
                        <div class="col-12  services-internal-info-main">
                          <h1 class="text-center">ВІДМІННИЙ СЕРВІС</h1>
                          <form class="order-form" action="/">
                            <input type="text" placeholder="ІМ'Я" />
                            <input type="email" placeholder="ВАШ EMAIL" />
                            <input type="text" placeholder="ТЕЛЕФОН" />
                            <input type="text" placeholder="АДРЕСА" />
                            <select>
                              <option value="tar1">Тарифний план 1</option>
                              <option value="tar2">Тарифний план 2</option>
                              <option value="tar3">Тарифний план 3</option>
                              <option value="tar4">Тарифний план 4</option>
                            </select>
                            <input class="order-submit" type="submit" value="Надіслати" />
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>

      </div>

      <div id="menu1" class="tab-pane fade">
        <ul class="nav nav-tabs button-main-block">
          <li class="active"><a data-toggle="tab" href="#tab3">ДЛЯ ПРИВАТНОГО СЕКТОРУ</a></li>
        </ul>

        <div class="tab-content">
          <div id="tab3" class="tab-pane in active">
            <section class="services position-relative">

              <div class="services__main">
                <div class="services__main__title text-center">
                  <h2>ЗАМОВИТИ ПІДКЛЮЧЕННЯ</h2>
                </div>
                <div class="row justify-content-center services__main__content">
                  <div class="col-12 col-lg-4">
                    <a href="#tab-7" class="d-flex align-items-center flex-column" data-js="tab-target">
                      <div class="icon services__main__content__icon">
                        <img src="assets/img/eco-house.png" alt="">
                      </div>

                    </a>
                  </div>
                  <div class="col-12 col-lg-4">
                    <a href="#tab-8" class="d-flex align-items-center flex-column" data-js="tab-target">
                      <div class="icon  services__main__content__icon">
                        <img src="assets/img/fast-house.png" alt="">
                      </div>

                    </a>
                  </div>
                  <div class="col-12 col-lg-4">
                    <a href="#tab-9" class="d-flex align-items-center flex-column " data-js="tab-target">
                      <div class="icon services__main__content__icon">
                        <img src="assets/img/ultra-house.png" alt="">
                      </div>

                    </a>
                  </div>
                </div>

                <div class="sidebar-tab" id="tab-7">
                  <div class="icons text-center">
                    <a href="#" data-js="close-tab">
                      <img src="assets/img/close.png" alt="close">
                    </a>
                  </div>
                  <div class="container pl-70 services-internal-info">
                    <div class="row">
                      <div class="col-12 services-internal-info-main">
                        <h1 class="text-center">ЯКІСНЕ ПОКРИТТЯ</h1>
                        <form class="order-form" action="/">
                          <input type="text" placeholder="ІМ'Я" />
                          <input type="email" placeholder="ВАШ EMAIL" />
                          <input type="text" placeholder="ТЕЛЕФОН" />
                          <input type="text" placeholder="АДРЕСА" />
                          <select>
                            <option value="tar1">Тарифний план 1</option>
                            <option value="tar2">Тарифний план 2</option>
                            <option value="tar3">Тарифний план 3</option>
                            <option value="tar4">Тарифний план 4</option>
                          </select>
                          <input class="order-submit" type="submit" value="Надіслати" />
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="sidebar-tab" id="tab-8">
                  <div class="icons">
                    <a href="#" data-js="close-tab">
                      <img src="assets/img/close.png" alt="close">
                    </a>
                  </div>
                  <div class="container pl-70  services-internal-info">
                    <div class="row">
                      <div class="col-12  services-internal-info-main">
                        <h1 class="text-center">ПОВНИЙ КОМПЛЕКС ПОСЛУГ</h1>
                        <form class="order-form" action="/">
                          <input type="text" placeholder="ІМ'Я" />
                          <input type="email" placeholder="ВАШ EMAIL" />
                          <input type="text" placeholder="ТЕЛЕФОН" />
                          <input type="text" placeholder="АДРЕСА" />
                          <select>
                            <option value="tar1">Тарифний план 1</option>
                            <option value="tar2">Тарифний план 2</option>
                            <option value="tar3">Тарифний план 3</option>
                            <option value="tar4">Тарифний план 4</option>
                          </select>
                          <input class="order-submit" type="submit" value="Надіслати" />
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="sidebar-tab" id="tab-9">
                  <div class="icons">
                    <a href="#" data-js="close-tab">
                      <img src="assets/img/close.png" alt="close">
                    </a>
                  </div>
                  <div class="container pl-70  services-internal-info">
                    <div class="row">
                      <div class="col-12  services-internal-info-main">
                        <h1 class="text-center">ВІДМІННИЙ СЕРВІС</h1>
                        <form class="order-form" action="/">
                          <input type="text" placeholder="ІМ'Я" />
                          <input type="email" placeholder="ВАШ EMAIL" />
                          <input type="text" placeholder="ТЕЛЕФОН" />
                          <input type="text" placeholder="АДРЕСА" />
                          <select>
                            <option value="tar1">Тарифний план 1</option>
                            <option value="tar2">Тарифний план 2</option>
                            <option value="tar3">Тарифний план 3</option>
                            <option value="tar4">Тарифний план 4</option>
                          </select>
                          <input class="order-submit" type="submit" value="Надіслати" />
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </section>
          </div>
        </div>

      </div>

    </div>
  </div>
</section>
{{/org-choose-your-tariff-tabs}}