{{#org-contact-us-section}}
<section class="contact-us">
  <div class="container">
    <div class="contact-us__main">
      <div class="contact-us__main__title text-center">
        <h2>КОНТАКТИ</h2>
      </div>
      <div id="map" style="height:500px;"></div>
      <div class="contact-us__main__content d-flex flex-column">
        <h2>Контакти: підключення та ремонт</h2>
        <h2>Офіс компанії:</h2>
        <p>Завітавши до нас в офіс, Ви маєте можливість здійснити оплату за комп’ютерні послуги, отримати кваліфіковану консультацію щодо налаштувань та підтримки мережі, вирішити проблеми що виникають в процесі експлуатації, а також відремонтувати комп’ютерну та сумісну техніку і отримати повну сервісну підтримку.</p>
        <a href="">Адреса: Рудно, вул. В.Великого 1а (2-й поверх)</a>
        <a href="">Телефон: (067) 3406929</a>
        <a href="">Viber: (067) 3406929</a>
        <a href="">Email: info@rlan.com.ua</a>
      </div>

      <div class="contact-us__main__plan d-flex flex-column">
        <h2>Графік роботи:</h2>
        <p>будні 09:30 – 18:00</p>
        <p>субота 09:30 – 13:00</p>
        <p>неділя вихідний</p>
      </div>
    </div>
  </div>
</section>
{{/org-contact-us-section}}