{{#org-easysoft}}
<section class="easysoft">
  <div class="container">
    <div class="easysoft__main">
      <div class="easysoft__main__title">
       {{> ../molecules/easysoft-title}}
      </div>
      <div class="easysoft__main__content d-flex">
        <div class="easysoft__main__content__image col-12 col-lg-5">
         {{> ../molecules/easysoft-image}}
        </div>
        <div class="easysoft__main__content__info col-12 col-lg-7">
          {{> ../molecules/easysoft-content-text}}
        </div>
      </div>
    </div>
  </div>
</section>
{{/org-easysoft}}