{{#org-footer-section}}

<section class="footer" style="background-color:#555555;">
  <div class="container">
    <div class="footer__main">
      <div class="footer__main__content d-flex flex-wrap justify-content-space-between">
        <div class="footer__main__content__item col-12 col-lg-4">
          <img src="assets/img/footer-logo.png"/ alt="footer-logo">
        </div>
        <div class="footer__main__content__item col-12 col-lg-4 d-flex">
          <h2>МИ ПРАЦЮЄМО ДЛЯ ВАС</h2>
        </div>
        <div class="footer__main__content__item col-12 col-lg-4 d-flex flex-wrap ">

          <div class="social-icons ">
            <a class="social-icon social-icon--envelope">
              <i class="fa fa-envelope"></i>
              <div class="tooltip">Gmail</div>
            </a>
            <a class="social-icon social-icon--vk">
              <i class="fa fa-vk"></i>
              <div class="tooltip">VK</div>
            </a>

            <a class="social-icon social-icon--facebook">
              <i class="fa fa-facebook"></i>
              <div class="tooltip">Facebook</div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{/org-footer-section}}