{{#org-holiday-section}}
<section class="holiday">
  <div class="container">
    <div class="holiday__main">
      <div class="holiday__main__title">
        <h2>ГРАФІК РОБОТИ НА СВЯТА</h2>
      </div>
      <div class="holiday__main__container d-flex flex-wrap">
        <div class="holiday__main__container__image col-12 col-lg-4"> 
          <img src="assets/img/holidays.jpg" alt="holidays">
        </div>
        <div class="holiday__main__container__info col-12 col-lg-8">
          <p>Дорогі друзі!</p>
          <p>Щиро вітаємо Вас із Воскресінням Христовим.</p>
          <p>Традиційно, публікуємо графік роботи наших підрозділів на період свят:</p>
        </div>


        <div class="callendar" data-month="10" data-year="2018" data-lang="en" data-weekend-days="18, 15, 19">
            <div class="decorators">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </div>
            <div class="callendar__article">
              <div class="month-year">
                <span class="month">January</span> 
                <span class="year">2018</span> 
              </div>
              <div class="cells">
                <div class="date-cell">
                  <span class="date"></span>
                  <span class="day">Mon</span>
                </div>
                <div class="date-cell">
                  <span class="date"></span>
                  <span class="day">Tue</span>
                </div>
                <div class="date-cell">
                  <span class="date"></span>
                  <span class="day">Wed</span>
                </div>
                <div class="date-cell">
                  <span class="date"></span>
                  <span class="day">Thu</span>
                </div>
                <div class="date-cell">
                  <span class="date"></span>
                  <span class="day">Fri</span>
                </div>
                <div class="date-cell">
                  <span class="date"></span>
                  <span class="day">Sat</span>
                </div>
                <div class="date-cell">
                  <span class="date"></span>
                  <span class="day">Sun</span>
                </div>
                <div class="date-cell">
                  <span class="date"></span>
                  <span class="day">Mon</span>
                </div>
                <div class="date-cell">
                  <span class="date"></span>
                  <span class="day">Tue</span>
                </div>
                <div class="date-cell">
                  <span class="date"></span>
                  <span class="day">Wed</span>
                </div>
                <div class="date-cell">
                  <span class="date"></span>
                  <span class="day">Thu</span>
                </div>
                <div class="date-cell">
                  <span class="date"></span>
                  <span class="day">Fri</span>
                </div>
                <div class="date-cell">
                  <span class="date"></span>
                  <span class="day">Sat</span>
                </div>
                <div class="date-cell">
                  <span class="date"></span>
                  <span class="day">Sun</span>
                </div>
                <div class="date-cell">
                  <span class="date"></span>
                  <span class="day">Mon</span>
                </div>
                <div class="date-cell">
                  <span class="date"></span>
                  <span class="day">Tue</span>
                </div>
                <div class="date-cell">
                  <span class="date"></span>
                  <span class="day">Wed</span>
                </div>
                <div class="date-cell">
                  <span class="date"></span>
                  <span class="day">Thu</span>
                </div>
                <div class="date-cell">
                  <span class="date"></span>
                  <span class="day">Fri</span>
                </div>
                <div class="date-cell">
                  <span class="date"></span>
                  <span class="day">Sat</span>
                </div>
                <div class="date-cell">
                  <span class="date"></span>
                  <span class="day">Sun</span>
                </div>
                <div class="date-cell">
                  <span class="date"></span>
                  <span class="day">Mon</span>
                </div>
                <div class="date-cell">
                  <span class="date"></span>
                  <span class="day">Tue</span>
                </div>
                <div class="date-cell">
                  <span class="date"></span>
                  <span class="day">Wed</span>
                </div>
                <div class="date-cell">
                  <span class="date"></span>
                  <span class="day">Thu</span>
                </div>
                <div class="date-cell">
                  <span class="date"></span>
                  <span class="day">Fri</span>
                </div>
                <div class="date-cell">
                  <span class="date"></span>
                  <span class="day">Sat</span>
                </div>
                <div class="date-cell">
                  <span class="date"></span>
                  <span class="day">Sun</span>
                </div>
                <div class="date-cell">
                  <span class="date"></span>
                  <span class="day">Mon</span>
                </div>
                <div class="date-cell">
                  <span class="date"></span>
                  <span class="day">Tue</span>
                </div>
                <div class="date-cell">
                  <span class="date"></span>
                  <span class="day">Wed</span>
                </div>
                <div class="date-cell">
                  <span class="date"></span>
                  <span class="day">Thu</span>
                </div>
                <div class="date-cell">
                  <span class="date"></span>
                  <span class="day">Fri</span>
                </div>
                <div class="date-cell">
                  <span class="date"></span>
                  <span class="day">Sat</span>
                </div>
                <div class="date-cell">
                  <span class="date"></span>
                  <span class="day">Sun</span>
                </div>
                <div class="date-cell">
                  <span class="date"></span>
                  <span class="day">Mon</span>
                </div>
                <div class="date-cell">
                  <span class="date"></span>
                  <span class="day">Tue</span>
                </div>
                <div class="date-cell">
                  <span class="date"></span>
                  <span class="day">Wed</span>
                </div>
                <div class="date-cell">
                  <span class="date"></span>
                  <span class="day">Thu</span>
                </div>
                <div class="date-cell">
                  <span class="date"></span>
                  <span class="day">Fri</span>
                </div>
                <div class="date-cell">
                  <span class="date"></span>
                  <span class="day">Sat</span>
                </div>
                <div class="date-cell">
                  <span class="date"></span>
                  <span class="day">Sun</span>
                </div>
              </div>
            </div>
          </div>



      </div>
    </div>
  </div>
</section>
{{/org-holiday-section}}