{{#org-office-moving-section}}
<section class="office-moving">
  <div class="container">
    <div class="office-moving__main">
      <div class="office-moving__main__title">
        {{> ../molecules/office-title}}
      </div>
      <div class="office-moving__main__content d-flex">
        <div class="office-moving__main__content__image col-12 col-lg-3">
          {{> ../molecules/office-image}}
        </div>
        <div class="office-moving__main__content__text col-12 col-lg-9">
          {{> ../molecules/office-description}}
        </div>
      </div>
    </div>
  </div>
</section>
{{/org-office-moving-section}}