{{#org-section-news}}

<section class="section-news">
  <div class="container">
    <div class="section-news__main ">
      <div class="section-news__main__title text-center">
        {{> ../molecules/news-view-title}}
      </div>
      <div class="section-news__main__view">
        {{> ../molecules/news-view-info}}
      </div>
    </div>
  </div>
</section>

{{/org-section-news}}