{{#org-services-section}}
<section class="services position-relative">
    <div class="container">
      <div class="services-title text-center">
        <h2>Ми пропонуємо</h2>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 col-lg-4">
          <a href="#tab-1" class="d-flex align-items-center flex-column" data-js="tab-target">
            <div class="icon icon--orange"></div>
            <h5>ЯКІСНЕ ПОКРИТТЯ</h5>
          </a>
        </div>
        <div class="col-12 col-lg-4">
          <a href="#tab-2" class="d-flex align-items-center flex-column" data-js="tab-target">
            <div class="icon icon--green"></div>
            <h5>ПОВНИЙ КОМПЛЕКС ПОСЛУГ</h5>
          </a>
        </div>
        <div class="col-12 col-lg-4">
          <a href="#tab-3" class="d-flex align-items-center flex-column" data-js="tab-target">
            <div class="icon icon--blue"></div>
            <h5>ВІДМІННИЙ СЕРВІС</h5>
          </a>
        </div>
      </div>
    <!-- </div> -->
    <div class="sidebar-tab" id="tab-1">
      <div class="icons text-center">
        <a href="#" data-js="close-tab">X</a>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1>Tab 1</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="sidebar-tab" id="tab-2">
      <div class="icons">
        <a href="#" data-js="close-tab">X</a>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1>Tab 2</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="sidebar-tab" id="tab-3">
      <div class="icons">
        <a href="#" data-js="close-tab">X</a>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1>Tab 3</h1>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>


  {{/org-services-section}}