{{#org-services-section}}
<section class="services position-relative">
  <div class="container position-relative">
    <div class="services__main">
      <div class="services__main__title text-center">
        <h2>Ми пропонуємо</h2>
      </div>
      <div class="row justify-content-center services__main__content">
        <div class="col-12 col-lg-4">
          <a href="#tab-1" class="d-flex align-items-center flex-column" data-js="tab-target">
            <div class="icon icon--orange services__main__content__icon home-service-icon">
              <img src="assets/img/pokryttja.png" alt="">
            </div>
            <h5>ЯКІСНЕ ПОКРИТТЯ</h5>
          </a>
        </div>
        <div class="col-12 col-lg-4">
          <a href="#tab-2" class="d-flex align-items-center flex-column" data-js="tab-target">
            <div class="icon icon--green services__main__content__icon home-service-icon">
              <img src="assets/img/poslugy.png" alt="">
            </div>
            <h5>ПОВНИЙ КОМПЛЕКС ПОСЛУГ</h5>
          </a>
        </div>
        <div class="col-12 col-lg-4">
          <a href="#tab-3" class="d-flex align-items-center flex-column " data-js="tab-target">
            <div class="icon icon--blue services__main__content__icon home-service-icon">
              <img src="assets/img/servis.png" alt="">
            </div>
            <h5>ВІДМІННИЙ СЕРВІС</h5>
          </a>
        </div>
      </div>
      <!-- </div> -->
      <div class="sidebar-tab" id="tab-1">
        <div class="icons text-center">
          <a href="#" data-js="close-tab">
            <img src="assets/img/close.png" alt="close">
          </a>
        </div>
        <div class="container pl-70 services-internal-info">
          <div class="row">
            <div class="col-12 services-internal-info-main">
              <h1 class="text-center">ЯКІСНЕ ПОКРИТТЯ</h1>
              <ul style="color:#E7811F;">
                <span><li>Стабільна робота мережі</li></span>
                <span><li>Сучасне обладнання</li></span>
                <span><li>Безперебійна система електропостачання</li></span>
                <span><li>Оперативне відновлення роботи мережі</li></span>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="sidebar-tab" id="tab-2">
        <div class="icons">
          <a href="#" data-js="close-tab">
              <img src="assets/img/close.png" alt="close">
          </a>
        </div>
        <div class="container pl-70  services-internal-info">
          <div class="row">
            <div class="col-12  services-internal-info-main">
              <h1 class="text-center" >ПОВНИЙ КОМПЛЕКС ПОСЛУГ</h1>
              <ul  style="color:#00AE94;">
                  <span><li>Інтернет 100Мбіт/с, 1Гбіт/с</li></span>
                    <span><li>Ремонт комп’ютерної техніки</li></span>
                      <span><li>Безкоштовні WiFi зони</li></span>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="sidebar-tab" id="tab-3">
        <div class="icons">
          <a href="#" data-js="close-tab">
              <img src="assets/img/close.png" alt="close"> 
          </a>
        </div>
        <div class="container pl-70  services-internal-info">
          <div class="row">
            <div class="col-12  services-internal-info-main">
              <h1 class="text-center">ВІДМІННИЙ СЕРВІС</h1>
              <ul  style="color:#2B92D0;">
                  <span><li>Вирішення 90% звернень у телефонному режимі</li></span>
                  <span><li>Оперативне реагування на звернення</li></span>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{{/org-services-section}}