{{#org-slider-section}}
<section class="slider-section">
  <div class="container">
    <div class="slider-section__main">
      <div class="slider-section__main__block">
        <div class="slider-section__main__block__item" style="background-image: url('assets/img/slide-1.jpg'); height:auto; min-height: 440px; background-repeat: no-repeat; background-position: center; background-size: cover; width: 100%;"></div>
        <div class="slider-section__main__block__item" style="background-image: url('assets/img/slide-2.jpg'); height:auto; min-height: 440px;  width: 100%;"></div>
        <div class="slider-section__main__block__item" style="background-image: url('assets/img/slide-3.jpg'); height:auto; min-height: 440px; display: flex; justify-content: space-between;background-repeat: no-repeat;  width: 100%;">
          <div class="slider-section__main__block__item__img-block col-lg-6 col-12 p-0 d-none d-lg-block">
            {{> ../molecules/item-slider-images}}
          </div>
          <div class="slider-section__main__block__item__info-block col-lg-6 col-12 p-0" style="text-align:center;">
            <div class="slider-section__main__block__item__info-block__title">
              {{> ../molecules/slider-title}}
            </div>
            <div class="slider-section__main__block__item__info-block__list">
              <ul>
                {{> ../molecules/slider-list}}
              </ul>
            </div>
          </div>
        </div>
        
        <div class="slider-section__main__block__item" style="background-image: url('assets/img/slide-4.jpg'); height:auto; min-height: 440px; display: flex; justify-content: space-between;background-repeat: no-repeat; width: 100%;">
          <div class="slider-section__main__block__item__img-block col-lg-6 col-12 p-0 d-none d-lg-block" style="background-color:rgba(0, 0, 0, .2);">
            <img class="rlan-image" src="assets/img/rlan-slide.png" />
          </div>

          <div class="slider-section__main__block__item__info-block col-lg-6 col-12 p-0" style="text-align:center; background-color:rgba(0, 0, 0, .2);">
            <div class="slider-section__main__block__item__info-block__title">
              {{> ../molecules/slider-title}}
            </div>
            <div class="slider-section__main__block__item__info-block__list">
              <ul>
                {{> ../molecules/slider-list}}
              </ul>
            </div>
          </div>
        </div>

        <div class="slider-section__main__block__item" style="background-image: url('assets/img/slide-5.jpg');height:auto; min-height: 440px; display: flex; justify-content: space-between;background-repeat: no-repeat; width: 100%;">
          <div class="slider-section__main__block__item__img-block col-lg-6 col-12 p-0">
            <img class="rlan-image" src="assets/img/rlan-slide.png" />
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
{{/org-slider-section}}