{{#org-thunderstorm-section}}
<section class="thunderstorm">
  <div class="container">
    <div class="thunderstorm__main">
      <div class="thunderstorm__main__title">
        {{> ../molecules/thunderstorm-title}}
      </div>
      <div class="thunderstorm__main__content d-flex flex-wrap">
        <div class="thunderstorm__main__content__image col-12 col-lg-4">
         {{> ../molecules/thunderstorm-image}}
        </div>
        <div class="thunderstorm__main__content__info col-12 col-lg-8">
        {{> ../molecules/thunderstorm-description}}
        </div>
      </div>
    </div>
  </div>
</section>
{{/org-thunderstorm-section}}