{{#org-tv-section}}
<section class="tv">
  <div class="container">
    <div class="tv__main">
      <div class="tv__main__title text-center">
       {{> ../molecules/tv-section-title}}
      </div>
      <div class="tv__main__content">
        {{> ../molecules/tv-section-text}}
      </div>
    </div>
  </div>
</section>
{{/org-tv-section}}