{{#p-accident}}
{{> ../head }}
{{> ../organisms/header-section}}
{{> ../organisms/accident-section}}
{{> ../organisms/contact-section}}
{{> ../organisms/footer-section}}
{{> ../foot }}
{{/p-accident}}