{{#p-changes-tariff}}
{{> ../head }}
{{> ../organisms/header-section}}
{{> ../organisms/changes-tariff-section}}
{{> ../organisms/contact-section}}
{{> ../organisms/footer-section}}
{{> ../foot }}
{{/p-changes-tariff}}