{{#p-easysoft-single}}
{{> ../head }}
{{> ../organisms/header-section}}
{{> ../organisms/easysoft}}
{{> ../organisms/contact-section}}
{{> ../organisms/footer-section}}
{{> ../foot }}
{{/p-easysoft-single}}