{{#p-for-clients}}
{{> ../head }}
{{> ../organisms/header-section}}
{{> ../organisms/for-client-section-tabs}}
{{> ../organisms/services-section}}
{{> ../organisms/contact-section}}
{{> ../organisms/footer-section}}
{{> ../foot }}
{{/p-for-clients}}