{{#p-index}}
{{> ../head }}
{{> ../organisms/header-section}}
{{> ../organisms/slider-section}}
{{> ../organisms/section-tariff}}
{{> ../organisms/services-section}}
{{> ../organisms/section-news}}
{{> ../organisms/contact-section}}
{{> ../organisms/footer-section}}
{{> ../foot }}
{{/p-index}}