{{#p-internet}}
{{> ../head }}
{{> ../organisms/header-section}}
{{> ../organisms/choose-your-tariff-tabs}}
{{> ../organisms/contact-section}}
{{> ../organisms/footer-section}}
{{> ../foot }}
{{/p-internet}}