{{#p-news-single}}
{{> ../head }}
{{> ../organisms/header-section}}
{{> ../organisms/section-news}}
{{> ../organisms/contact-section}}
{{> ../organisms/footer-section}}
{{> ../foot }}
{{/p-news-single}}